:root{
    --Headerfont--: "Roboto", serif;
    --Paragraphfont-- :"Raleway", serif;
}

img {
    width:100%;
    height: auto;
}

#NewsHead{
    font-family: var(--Headerfont--);
    display: block;
    text-decoration: underline;
    text-decoration-color: blue;    
    color: black;
    margin-top: 1em;
}

#news{
    font-family: var(--Paragraphfont--);
    text-align: left;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
}



.box2{
    margin-top: 2em;
}


#newsCenter{
    font-family: var(--Paragraphfont--);
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
}
#centerbox{
    text-align: center;
}

h4{
    font-family: var(--Headerfont--);
    font-size: larger;
}

#latestNews{
    border-top: 3px solid rgb(81, 81, 88);
}
#latestNews div {
    margin-top: 1em;
    background-color: black;
}

#latestNews a{
    color: black;
    font-family: var(--Paragraphfont--);
    text-decoration: none;
    font-weight: 600;
}