*{
    margin: 0;
}

:root{
    --Headerfont--: "Roboto", serif;
    --Paragraphfont-- :"Raleway", serif;
}
header{
    position: sticky;
    top: 0;
    /*overflow: hidden;*/
}

nav{
    background-color: black;
    padding: 1em 1em 1em 1em;
    color: white;
}
nav h1, nav a{
    color: white;
}
a{
    text-decoration: none;
    font-family: var(--Headerfont--);
    font-weight: 500;
}

#Logo{
    display: inline;
    font-family: var(--Headerfont--);
}

/* For Nav Link*/
.nav-links{
    display: inline;
    float: right;
    margin-right:10em;
    
}

.nav-links a{
    padding: 2em;
}


#menu{
    display: none;
}
.collapseNav{
    display: none;
}


#xmenu{
    display: none;
}


button{
    border: none;
    background-color: white;
}


