*{
    margin: 0;
}
:root{
    --Headerfont--: "Roboto", serif;
    --Paragraphfont-- :"Raleway", serif;
}





nav{
    background-color: black;
    padding: 1em 1em 1em 1em;
    color: white;
}
nav h1, nav a{
    color: white;
}
a{
    text-decoration: none;
    font-family: var(--Paragraphfont--);
    font-weight: 500;
}

#Logo{
    display: inline;
    font-family: var(--Headerfont--);
}

/* For Nav Link*/
.nav-links{
    display: inline;
    float: right;
    margin-right:10em;
    
}

.nav-links a{
    padding: 2em;
}





#menu{
    display: none;
}
.collapseNav{
    display: none;
}


#xmenu{
    display: none;
}

/*#eg{
    display: none;
}*/
.bt{
    display: none;
}

main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;   
}
main section{
    grid-column: 1/2;
    background-color: antiquewhite;
}

main .content{
    grid-column: 2/7;
    background-color: aqua;
    
}

#aa{
    background-color: blueviolet;
}

section audio{
    
}