@media screen and (max-width: 760px)
{
    
    .nav-links{
        display: none;
    }

   #menu{
    display: unset;
    float: right;
    
   }
   #xmenu{
    float: right;
   }

    nav{
        text-align: center;
    }

    /*#eg{
        display: unset;
        
    }*/

}












