@media screen and (max-width: 600px)
{
    .colNavLink{
        display: inline-block;
    }
    .nav-links{
        display: none;
    }

   #menu{
    display: unset;
    float: right;
    
   }
   #xmenu{
    float: right;
   }

    nav{
        text-align: center;
    }

    /*#eg{
        display: unset;
        
    }*/

    main{
        display: flex;
        flex-wrap: wrap;
    }
}












