*{
    margin:0;
    padding: 0;
}
body{
    margin-left: 20%;
    margin-right: 20%;
    font-family: var(--para);
}
:root{
    --heading:"Roboto Condensed", serif;
    --para:"Raleway", serif;
}


header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-family: var(--heading);
}

main{
    margin-top: .6rem;
}



form select,
form input[type="text"],
form textarea,
form input[type="date"]
{
    background-color: rgba(224, 223, 223, 0.432);
    display: block;
    border: solid 1px gray;
    border-radius: 6px;
    color: gray;
    width: 100%;
    
    font-family: var(--para);
} 

label input[type="checkbox"]
    {
        margin-right:6px;
    }

#Rating{
    margin-top: 1rem; 
}

form input[type="submit"]
{
    margin-left: auto;
    margin-right: auto;
}




footer{
    background-color: rgba(206, 206, 206, 0.555);
    font-family:var(--headings-font);
    font-style: normal;
    text-align: center;
  }

#last, #lastModified{
    color: rgb(83, 75, 75);
}
