*{
    margin: 0;
    padding: 0;
}

:root {
    --headings-font: "Ubuntu", serif;
    --headings-weight: 700;
    --normal-font: "Inter", serif;
}


header{
    background-color:#070345;
    text-align: center;
    padding: 1em;
    border-bottom: 20px solid rgba(255, 0, 0, 0.753);
}
header h1 {
    text-align: center;
    color: white;
    font-family: var(--headings-font);
    font-weight: var(--headings-weight);
    font-size:30px;
}

picture img{
    width:100%;
    height: auto;
    object-fit: cover;
    
}



.hero{
    position: relative;
}

#overlay1{
    position:absolute;
    top: 10em;
    margin-left: 2em;
    background-color: rgba(187, 69, 69, 0.349);
    padding: 2em;
}

#overlay2{
    position:absolute;
    top: 50vw;
    left: 70vw;
    background-color: rgba(187, 69, 69, 0.349);
    padding: 2em;  
}

.title {
    font-weight: var(--headings-weight);
}

#overlay1 p, h2 {
    color: white;
    font-family: var(--normal-font);
}

#overlay2 p, h2 {
    color: white;
    font-family: var(--normal-font);
}

#overlay2 h2 {
    display: inline;
    margin-bottom: 1em;
    

}

#overlay2 h2::after {
    content:url(images/svg);
  }



h2{
    margin-bottom: 0.5em;
    text-align: center;
}
 
#mistake{
    margin-top: 0.5em;
}








footer{
    background-color: rgba(206, 206, 206, 0.555);
    font-family:var(--headings-font);
    font-style: normal;
    text-align: center;
  }

#last, #lastModified{
    color: rgb(83, 75, 75);
}



@media screen and (max-width: 700px)
{
    .hero{
        position:static;
    }

    #overlay1{
        position: static;
        margin: 0;
        text-align: center;
        background: none;
        
        
    }

    #overlay2{
        position: static;
        text-align: center;
        padding: 0;
        background: none;
        
    }

    h2{
        color: black;
    }

    #overlay1 h2{
        margin-bottom: 1em;
    }

    #overlay1 p{
       color: black;
       margin-bottom: 0.5em;
    }
    #overlay2 p{
        color: black;
        margin-bottom: 0.5em;
    }

    #overlay2 h2{
        display: block;
    }
 


}