*{
    margin: 0;

}
/*header{
    display: flex;
    background-color: rgba(0, 0, 255, 0.363);
}*/
nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
   
 }

 main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }





















/*footer*/
footer{
    background-color: rgba(206, 206, 206, 0.555);
    font-family: "Montserrat", serif;
    font-style: normal;
    text-align: center;
  }

  #last, #lastModified{
    color: rgb(83, 75, 75);
}
